################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/JoshAutomationWindows/bin/Debug
/JoshAutomationWindows/libs
/JoshAutomationWindows/obj/Debug
